---
import { Icon } from "astro-icon";

const { tags } = Astro.props;
---

<div class="flex flex-row my-4 items-center text-neutral-500">
  <h2
    class="font-medium text-h4 text-neutral-500 leading-8 tracking-tighter mb-0"
  >
    Top Tags
  </h2>

  <a href="/tags" class="font-medium flex no-underline ml-auto">
    View all tags
    <Icon name="ph:arrow-right-light" class="w-6 h-6 ml-4" />
  </a>
</div>

<ul class="list-none space-y-5">
  {
    tags.map((tag) => (
      <li class={`inline-block my-3 mx-1 underline-offset-8`}>
        <a
          href={`/tags/${tag.toLowerCase()}`}
          class={`text-lg pr-2 flex flex-wrap items-center relative underline hover:-top-0.5 hover:text-skin-accent focus-visible:p-1`}
        >
          <Icon name="mdi:hashtag" class="w-6 h-6" />
          &nbsp;<span>{tag.toLowerCase()}</span>
        </a>
      </li>
    ))
  }
</ul>
